
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');



@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Montserrat";
}

.montserrat {
  font-family: "Montserrat";
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
}




.getstarted-section{
    overflow: hidden !important;
}
.testimonials-section{
    overflow: hidden !important;
}



@media screen and (min-width: 640px) and (max-width: 1023px) {
  .hero-section {
    margin-left: 1px !important;
    /* padding: 0 1.5rem !important; */
  }
}